extends 'base.jade'
{% load static %}

block title
  | TShirts 

block content
  .container-fluid
    .row
      for tshirt in tshirts
        .col-md-6
          .well
            .row
              .col-md-12
                  .pull-center
                    img.img-thumbnail(src="{{ tshirt.front_image.url }}" style="width:70%;")
                  .pull-center
                    img.img-thumbnail(src="{{ tshirt.back_image.url }}" style="width:70%;")
              .col-md-12
                .caption
                  h3
                    | {{ tshirt.name }}

                  p
                    | {{ tshirt.year }}
