extends 'base.jade'
{% load static %}

block title
  | TShirts 

block content
  .container-fluid
    .row
      each tshirt, i in tshirts
        .clearfix.visible-xs
        .col-md-6
          .well
            .row
              .col-md-12
                  .pull-center
                    img.img-thumbnail(src="{{ tshirt.front_image.url }}" style="height: 200px;")
                  .pull-center
                    img.img-thumbnail(src="{{ tshirt.back_image.url }}" style="height: 200px;")
              .col-md-12
                .caption
                  h3
                    | {{ tshirt.name }}

                  p
                    | {{ tshirt.year }}
 