extends 'base.jade'

block title
  | Webcams 

block content
  script(type="text/javascript")
    var urls;

    $(document).ready(function() {
      urls = "{{ urls }}";
      urls = urls.replace(new RegExp('&#39;', 'g'), '\"');
      urls = JSON.parse(urls);

      /*
       * Updated door label color and text.
       * If datetime is null use current time.
       */
      function update_door_status(value, datetime) {
        if(datetime == null) {
          datetime = new Date();

          var minutes = datetime.getMinutes();

          if(minutes < 10) {
            minutes = "0" + minutes;
          }

          datetime = "T" + datetime.getHours() + ":" + minutes + ":" + datetime.getSeconds();
        }
      
        var time = datetime.split("T")[1];
        var time_tokens = time.split(":");

        var hour = time_tokens[0];
        var t = "am";

        if(hour > 12) {
          hour = hour - 12;
          t = "pm";
        }

        var minute = time_tokens[1];

        var updated = hour + ":" + minute + " " + t;

        $("#front_door").removeClass('label-danger');
        $("#front_door").removeClass('label-success');

        if(value == 1) {
          $("#front_door").addClass('label-success');
          $("#front_door").text("Opened at " + updated);
        } else {
          $("#front_door").addClass('label-danger');
          $("#front_door").text("Closed at " + updated);
        }
      }

      function refresh() {
        $.each(urls, function(i, url ) {
          var date = new Date();
          var time = date.getTime();
          $("#camera-" + i).attr('src', url + "?" + time);
        });
        
        $.getJSON('/api/channels/14/', function( data ) {
          console.log("Channel GET successful: " + data);

          update_door_status(parseInt(data['value']), data['updated']);

          $("#door_status").removeClass('hidden');
        });
      }

      refresh();

      setInterval(refresh, 2000);
    });


  .row-fluid.hidden(id='door_status')
    .col-sm-12
      h3
        | Front Door:
      h3
        span.label(id="front_door", style="margin-left:20px")

  hr

  .row
    .col-md-12
      .text-center
        - var cam0 = webcams[0].url
        img.img-thumbnail(src="{{ cam0 }}", id="camera-0")
  .row(style="height:26px")
  .row
    each webcam, i in webcams
      if i != 0
        .col-md-6
          .text-center
            img.img-thumbnail(src="{{ webcam.url }}", style="width:100%", id="camera-{{ i }}")
