extends 'base.jade'

block title
  | Webcams 

block content
  script(type="text/javascript")
    var urls;

    $(document).ready(function() {
      urls = "{{ urls }}";
      urls = urls.replace(new RegExp('&#39;', 'g'), '\"');
      urls = JSON.parse(urls);

      function refresh() {
        $.each(urls, function(i, url ) {
          var date = new Date();
          var time = date.getTime();
          $("#camera-" + i).attr('src', url + "?" + time);
        });
      }

      setInterval(refresh, 2000);

    });

  .row
    .col-md-3
      .text-center
        h3
          | Meeting Schedule
    .col-md-9
      .text-center
        h3
          | Webcam
  .row
    .col-md-3
      iframe(src="http://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=500&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=85bf0h78fidsgkkgmkktrqasm8%40group.calendar.google.com&amp;color=%23ffffff&amp;ctz=America%2FNew_York", style=" border-width:0; height:600px;")
    .col-md-9
      each webcam, i in webcams
        if i == 0
          .col-md-12
            .text-center
              img.img-thumbnail(src="{{ webcam.url }}" style="height:400px", id="camera-{{ i }}")
          hr
        else
          .col-md-6
            .text-center
              img.img-thumbnail(src="{{ webcam.url }}" style="height:200px", id="camera-{{ i }}")
