extends 'base.jade'

block title
  | Webcams 

block content
  script(type="text/javascript")
    var urls;

    $(document).ready(function() {
      urls = "{{ urls }}";
      urls = urls.replace(new RegExp('&#39;', 'g'), '\"');
      urls = JSON.parse(urls);

      function refresh() {
        $.each(urls, function(i, url ) {
          var date = new Date();
          var time = date.getTime();
          $("#camera-" + i).attr('src', url + "?" + time);
        });
      }

      setInterval(refresh, 2000);

    });

  .row
    .col-md-12
      .text-center
        - var cam0 = webcams[0].url
        img.img-thumbnail(src="{{ cam0 }}", id="camera-0")
  .row(style="height:26px")
  .row
    each webcam, i in webcams
      if i != 0
        .col-md-6
          .text-center
            img.img-thumbnail(src="{{ webcam.url }}", style="width:100%", id="camera-{{ i }}")
