extends 'base.jade'
{% load static %}

block title
  | Posters 

block content
  .container-fluid
    .row
      for poster in posters
        .col-md-6
          .well
            .row
              .col-md-12
                  .pull-center
                    img.img-thumbnail(src="{% get_media_prefix %}{{ poster.image }}" style="width:200px; height:200px;")
              .col-md-12
                .caption
                  h3
                    | {{ poster.name }}

                  p
                    | {{ poster.year }}
