extends 'base.jade'
{% load static %}

block title
  | {{ project.name }} 

block content
  .well
    .container
      .row
        .col-md-12
          .pull-left
            h4
              for leader in project.leaders.all
                {{ leader.user.get_full_name }} - {{ leader.user.email }}
                br
            h4
              a(href="{{ project.website }}" target="_blank")
                {{ project.website }}

            hr
            
      .row
        .col-md-6
          img.img-thumbnail(src="{% get_media_prefix %}{{ project.image }}" style="width:80%; height:80%;")
        .col-md-6
          | {{ project.description }}