extends 'base.jade'

{% load static %}

block title
  | Projects 

block content
  .container
    for project in projects
      .row
        .col-md-6
          a(href="{{ project.name | slugify }}")
            img.img-thumbnail(src="{% get_media_prefix %}{{ project.image }}" style="width:100%")
        .col-md-6
          .caption
            h3
              | {{ project.name }}

          hr

          h4
            for leader in project.leaders.all
              {{ leader.user.get_full_name }}
              br

          hr

          p
            | {{ project.blurb }}
        
      hr.hr-style
