extends 'base.jade'

block title
  | Projects 

block content
  .container-fluid
    .row
      for project in projects
        .col-md-12
          .well
            .row
              .col-md-6
                a.pull-left(href="{{ project.name | slugify }}")
                  img.img-thumbnail(src="/media/{{ project.image }}" style="width:50%; height:50%;")
              .col-md-6
                .caption
                  h3
                    | {{ project.name }}

                  h4
                  for leader in project.leaders.all
                    {{ leader.user.first_name }} {{ leader.user.last_name }} - {{ leader.user.email }}


                  hr

                  p
                    | {{ project.blurb }}
