<div class="footer navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <hr />
        <div class="row">
            <div class="col-md-4">
                <a href="#">
                    <i class="fa fa-"></i>
                    Redmine
                </a>
                |
                <a href="#">
                    <i class="fa fa-"></i>
                    API
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://twitter.com/roboclub" target="_blank">
                    <i class="fa fa-twitter"></i>
                    Twitter
                </a>
                |
                <a href="https://www.youtube.com/channel/UCfUVvPWpDi6XPsQTu3uR53A" target="_blank">
                    <i class="fa fa-youtube"></i>
                    Youtube
                </a>
                |
                <a href="https://www.facebook.com/groups/cmuroboclub/?ref=br_tf" target="_blank">
                    <i class="fa fa-facebook"></i>
                    Facebook
                </a>
            </div>
            <div class="col-md-4">
                <footer class="pull-right">
                    <p>
                    Carnegie Mellon Robotics Club &copy;1984 - 2014
                    |
                    &copy; Designed and Created by
                    <a href="http://www.brentstrysko.com" target="_blank">
                    Brent Strysko
                    </a>
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>