{% load social_media %}
{% get_social_medias as social_media %}

.footer
    hr
    .row-fluid
        .col-md-4
            a(href="http://www.roboticsclub.org/redmine/", target="_blank")
                | Redmine
            |
            a(href="{% url 'officers:index' %}") 
                | Officers
            |
            a(href="{% url 'api-root' %}")
                | API
            |
            a(href="{% url 'admin:index' %}")
                | Member Login

        .col-md-4
            each media, index in social_media
                a(href="{{media.url}}" target="_blank")
                    i.fa(class="fa-{{ media.name | lower }}")
                    | {{ media.name }} 
                {% if index != (social_media.length - 1) %}
                    |
                {% endif %}

        .col-md-4
            .pull-right
                | Carnegie Mellon Robotics Club &copy;1984 - {% now "Y" %}
