.footer.navbar.navbar-fixed-bottom
    .navbar-inner
        hr
        .row
            .col-md-4
                a(href="/redmine/")
                    i.fa.fa-

                    | Redmine
                |
                a(href="/api/v1/")
                    i.fa.fa-

                    | API
                |
                a(href="/admin/")
                    i.fa.fa-

                    | Admin

            .col-md-4
                a(href="https://twitter.com/roboclub" target="_blank")
                    i.fa.fa-twitter
                    | Twitter 
                |
                a(href="https://www.youtube.com/channel/UCfUVvPWpDi6XPsQTu3uR53A" target="_blank")
                    i.fa.fa-youtube
                    | Youtube 
                |
                a(href="https://www.facebook.com/groups/cmuroboclub/?ref=br_tf" target="_blank">)
                    i.fa.fa-facebook
                    | Facebook 
                |
                a(href="https://github.com/CMU-Robotics-Club" target="_blank")
                    i.fa.fa-github
                    | Github 

            .col-md-4"
                footer.pull-right
                    p
                        | Carnegie Mellon Robotics Club &copy;1984 - 2014
