{% load social_media %}
{% get_social_medias as social_media %}

.footer
    hr
    .row-fluid
        .col-md-4
            .text-left-md
                a(href="http://www.roboticsclub.org/redmine/", target="_blank")
                    | Redmine
                |
                a(href="{% url 'officers:index' %}") 
                    | Officers
                |
                a(href="{% url 'api-root' %}")
                    | API
                |
                a(href="{% url 'admin:index' %}")
                    | Member Login
        .col-md-4
            for media, index in social_media
                if index != 0
                    |  | 
                a(href="{{media.url}}" target="_blank")
                   | {{ media.name }}
        .col-md-4
            .text-right-md
                | Carnegie Mellon Robotics Club &copy;1984 - {% now "Y" %}
