{% load social_media %}
{% get_social_medias as social_media %}
{% load link %}
{% get_links as links %}

.footer
    hr
    .row-fluid
        .col-md-4
            .text-left-md
                for link, index in links
                    if index != 0
                        |  | 
                    a(href="{{link.url}}")
                        | {{ link.name }}
        .col-md-4
            for media, index in social_media
                if index != 0
                    |  | 
                a(href="{{media.url}}" target="_blank")
                   | {{ media.name }}
        .col-md-4
            .text-right-md
                | Carnegie Mellon Robotics Club &copy;1984 - {% now "Y" %}
