{% load staticfiles %}
{% load ordered_flatpages %}
{% get_ordered_flatpages as flatpages %}

.header.navbar.navbar-default(role="navigation")
    .container.pull-left
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/")
                img(src="{% static 'images/logo.png' %}", width="20px", height="20px")
                |   Carnegie Mellon Robotics Club

        .collapse.navbar-collapse
          ul.nav.navbar-nav            
            for page in flatpages|slice:"1:"
                li
                    a(href="{{page.url}}") {{page.title}}
            
            li
                a(href="/officers") Officers

            li
                a(href="/projects") Projects

            li
                a(href="/webcams") Webcam