{% load staticfiles %}
{% load ordered_flatpages %}
{% get_ordered_flatpages as flatpages %}
{% get_ordered_flatpages '/' as home_pages %}

.header.navbar.navbar-default(role="navigation")
    .container.pull-left
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="{{home_pages.0.get_absolute_url}}")
                img(src="{% static 'images/logo.png' %}", width="20px", height="20px")
                |   Carnegie Mellon Robotics Club

        .collapse.navbar-collapse
          ul.nav.navbar-nav            
            for page in flatpages|slice:"1:"
                li
                    a(href="{{page.get_absolute_url}}") {{page.title}}
            
            li
                a(href="{% url 'officers:index' %}") Officers

            li
                a(href="{% url 'projects:index' %}") Projects

            li
                a(href="{% url 'webcams:index' %}") Webcam