extends 'base.jade'

block title
  | Officers 

block content
  .container-fluid
    .row-fluid
      for officer in officers
        .col-md-3
          .well
            .container
              .row
                .col-md-12
                  a(href="{{ officer.id }}")
                    | {{ officer.current_image | safe }}
              .row
                .col-md-12
                  | {{ officer.position }}
              .row
                .col-md-12
                  | {{ officer.user.user.first_name }} {{ officer.user.user.last_name }}
