extends 'base.jade'

block title
  | Officers 

block content
  .container-fluid
    .row
      for officer in officers
        .col-md-6
          .well
            .row
              .col-md-6
                a.pull-left(href="{{ officer.id }}")
                  img.img-thumbnail(src="/media/{{ officer.image }}" style="width:200px; height:200px;")
              .col-md-6
                .caption
                  h3
                    | {{ officer.position }}

                  p
                    | {{ officer.user.user.first_name }} {{ officer.user.user.last_name }}
