extends 'base.jade'
{% load static %}

block title
  | Officers 

block content
  .container-fluid
    .row
      for officer in officers
        .col-md-6
          .well
            .row
              .col-md-6
                a.pull-left(href="{{ officer.user }}")
                  img.img-thumbnail(src="{% get_media_prefix %}{{ officer.image }}" style="width:200px; height:200px;")
              .col-md-6
                .caption
                  h3
                    | {{ officer.position }}

                  p
                    | {{ officer.user.user.get_full_name }}
